<button class="btn btn-warning" routerLink="/checkout">CHECKOUT</button>
<hr>
<div *ngFor="let item of baskets">
  <div class="list-group-item clearfix"
       *ngIf="currentBasket === item.basket">
    <div class="row">
      <div class="col-sm-6">
        <img class="img-responsive"
             style="max-height:75px"
             [src]="item.imagePath"
             alt="{{item.description}}"/>
      </div>
      <div class="col-sm-6">
        <h5 class="list-group-item-heading">{{item.name}}<br>
          <small><sup>{{item.description}}</sup></small>
        </h5>
        <div class="row">
          <div class="col-xs-6">
            <h5 class="list-group-item-text">PRICE: $<span>{{item.price}}</span></h5>
          </div>
          <div class="col-xs-6">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <div class="btn-group" role="group">
                <button type="button"
                        class="btn btn-light btn-sm dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                  QUANTITY
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">1</a>
                  <a class="dropdown-item" href="#">2</a>
                  <a class="dropdown-item" href="#">3</a>
                  <a class="dropdown-item" href="#">4</a>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-light btn-sm">1</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<button class="btn btn-warning" routerLink="/checkout">CHECKOUT</button>
