<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"
          [class.active]="page === selectedPage"
          *ngFor="let page of pages"
          (click)="goTo(page)">
        <a class="nav-link" [routerLink]="page">{{page}}</a>
      </li>
    </ul>
    <button class="btn navbar-text" (click)="changeTheme(lightTheme)">
      Toggle Theme
    </button>
  </div>
</nav>
<div style="margin-top: 50px;padding-top: 50px;"></div>


