<div *ngIf="!hasKey"
     class="alert alert-dark"
     role="alert">
  <small>
    <b>IMPORTANT</b>: App data requires authorization. Authenticate by adding this query parameter to the URL, then refresh the browser.
    <br>
    <code>?api=< KEY SENT IN EMAIL ></code></small>
</div>
<h2>BASKETS</h2>
<hr>
<p>
  <b>Basket #{{currentBasket}}</b> is currently selected for checkout.
  Proceed to checkout to place order for <b>Basket #{{currentBasket}}</b>.
</p>
<div class="row">
  <div class="col-md-4">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item"
          [ngClass]="{amzn_theme_secondary:currentBasket === 1}">
        <a class="nav-link"
           (click)="changeBasket(1)">Basket #1</a>
      </li>
      <li class="nav-item"
          [ngClass]="{amzn_theme_secondary:currentBasket === 2}">
        <a class="nav-link"
           (click)="changeBasket(2)">Basket #2</a>
      </li>
      <li class="nav-item"
          [ngClass]="{amzn_theme_secondary:currentBasket === 3}">
        <a class="nav-link"
           (click)="changeBasket(3)">Basket #3</a>
      </li>
    </ul>
  </div>
  <div class="col-md-8">
    <app-basket-item
      [items]="items"></app-basket-item>
  </div>
</div>
