<h2>BASKETS</h2>
<hr>
<div class="row">
  <div class="col-sm-4">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item">
        <a class="nav-link"
           [ngClass]="{active:currentBasket === 1}"
           (click)="changeBasket(1)">Basket One</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [ngClass]="{active:currentBasket === 2}"
           (click)="changeBasket(2)">Basket Two</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [ngClass]="{active:currentBasket === 3}"
           (click)="changeBasket(3)">Basket Three</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-8">
    <app-basket-item
      [baskets]="baskets"></app-basket-item>
  </div>
  <!--<app-item></app-item>-->
</div>
